{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5 text-white mx-3 text-justify">
    <div class="text-center">
        <img src="{% static 'core/image/tony.png' %}" alt='picture' width='250px' height='250px'>
    </div>
    <div class="text-white  mt-5">
        <h1 class="text-white-bold mx-5 h-font" style="font-size:40px">Hello,</h1>
        <div class="px-4 mt-5 mx-5 " style="font-size:40px line-height:3rem;">
            <p style="text-indent:100px"> I am <b class="text-warning">Tony Stark</b> in coding and a fervent desire to dive into the ever-evolving realm of software development. Although I am an intern with limited hands-on experience, my academic journey has equipped me with a robust understanding of programming languages, algorithms, and software engineering principles.</p>
            <p style="text-justify text-indent:100px">I recent graduate in a <b class="text-warning">BSc</b> During my studies, I undertook projects that honed my coding skills, and I am enthusiastic about applying this knowledge in a practical setting. As an intern, I bring a fresh perspective, an aptitude for problem-solving, and an eagerness to learn from seasoned coders in a professional environment.I am fresher in this feild i learn and develope my skills and trying to do my best and create some best projects, this is my first project using django, Html for text content , Css for font color border, Bootstrap for many classes for dynamiSc approaches, Font awesome for best symbol, Google font for styling fonts <p>
            <p class='text-justify'>In this project you can see my home tab in that tab showing my details, second one is services section in that provided brif discription about sevices, in skill section provided skills sections, In contact section you can contact me this is my brif discriptions about my project</p> 
        </div>
    </div>
    <div class="text-center mb-3" >
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
        <a href="" class="btn btn-outline-info my-3 mx-5">contact</a>
    </div>
</div>    
{% endblock content %}