{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-warning border-bottom mt-5">SKILL</h1>
    <div class="row text-white">
        <div class="col-sm-5">
        <h2 class="text-center mt-5">HTML/CSS</h2> 
        <div class="progress mt-3">
            <div class="progress-bar bg-danger" role="progress bar" style="width:100%"
            aria-valuenow:"100%" aria-valuemin:"0" aria-valuemax:"100">100%
            </div>
        </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h2 class="text-center mt-5">JAVASCRIPT</h2> 
            <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animeted" role="progress bar" style="width:90%"
                aria-valuenow:"90" aria-valuemin:"0" aria-valuemax:"100">90%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-5">
            <h2 class="text-center mt-5">PYTHON</h2> 
            <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animeted" role="progress bar" style="width:90%"
                aria-valuenow:"90%" aria-valuemin:"0" aria-valuemax:"100">90%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2 mt-5">
            <h2 class="text-center mt-5 ">DJANGO</h2> 
            <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animeted" role="progress bar" style="width:95%"
                aria-valuenow:"95%" aria-valuemin:"0" aria-valuemax:"100">95%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-5">
            <h2 class="text-center mt-5">JAVA PROGRAMING</h2> 
            <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animeted" role="progress bar" style="width:92%"
                aria-valuenow:"92%" aria-valuemin:"0" aria-valuemax:"100">92%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2 mt-5">
            <h2 class="text-center mt-5 ">C/C++</h2> 
            <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animeted" role="progress bar" style="width:85%"
                aria-valuenow:"85%" aria-valuemin:"0" aria-valuemax:"100">85%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-5">
            <h2 class="text-center mt-5">SQL</h2> 
            <div class="progress mt-3 mb-5">
                <div class="progress-bar progress-bar-striped progress-bar-animeted" role="progress bar " style="width:80%"
                aria-valuenow:"80%" aria-valuemin:"0" aria-valuemax:"100">80%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2 mt-5">
            <h2 class="text-center mt-5 ">MY SQL</h2> 
            <div class="progress mt-3 mb-5">
                <div class="progress-bar progress-bar-striped progress-bar-animeted" role="progress bar" style="width:90%"
                aria-valuenow:"95%" aria-valuemin:"0" aria-valuemax:"100">95%
                </div>
            </div>
        </div>       
    </div>
</div>
{% endblock content %}